*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    display: flex;
    height:100%;
}
body{
    flex-grow: 1;
    overflow: hidden;
}
#main{
    width:720px;
    transform-origin: top left;
    overflow: auto;
}